body{
    background-image: url(media/img_tree.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
   
}


h1{
    color:aqua;
    text-align: center;
    
}

#lorem{
    text-align: center;
    font-size: 200%;
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 250px;
    
}

.back_image{
    color: #FFFA00;
    margin-right: 250px;
    background-image: url(media/archlinux.jpg);
}